<!-- база страниц; общий header -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title> </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rochester&display=swap" rel="stylesheet">
        <link rel="icon" type="image/ico" href="../static/img/logo-lotus.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <header class="header" id="header">
            <div class="container">
                <div class="header-inner">
                    <div id="header-logo" class="header-logo">
                        <a href="/">Book Excerpts</a>
                    </div>
        
                    <nav class="nav" id="nav">
                        <a id="nav-home" class="nav-link" href="/">Home</a>
                        <a id="nav-list" class="nav-link" href="/list/">Full List</a>
                        <a id="nav-about" class="nav-link" href="/about/">About</a>
                    </nav>
                    <div class="nav-toggle" id="nav-toggle">
                        <span class="nav-toggle-item">Menu</span>
                    </div>
                </div>
            </div>
        </header>

        <div class="content">
            <p id="max-value">{{count}}</p>
            {% block content %}
            {% endblock content %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src="/static/js/activity.js"></script>
    </body>
</html>