<!-- база страниц; общий header -->

{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <title> </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>

        <header class="header">
            <div class="container">
                <div class="header-inner">
                    <div class="header-logo">
                        <a href="/">Books</a>
                    </div>
        
                    <nav class="nav">
                        <a id="nav-home" class="nav-link" href="../">Home</a>
                        <a id="nav-list" class="nav-link" href="../list/">Full List</a>
                        <a id="nav-about" class="nav-link" href="../about/">About</a>
                    </nav>
                </div>
            </div>
        </header>

        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
        <script src="../static/js/activity.js"></script>
    </body>
</html>