<!-- страница конкретной выдержки из книги; отображает верхнее меню, дату, название и текст публикации -->

{% extends 'base.html' %}

{% block content %}

<div class="intro-detail" id="intro-detail-post">
	
</div>

<div class="post-item">
	<div class="container">
		<div class="post-date">
			{{instance.tpublish}}
		</div>
		<h2 class="post-title">{{title}}</h2>
		<div class="post-text">
			<p>
				{{instance.content}}
			</p>
		</div>
		<a class="btn btn-detail" onclick="moveToRandomPage()">Выбрать</a>
	</div>
</div>

{% endblock content %}