<!-- страница конкретной выдержки из книги; отображает верхнее меню, дату, название и текст публикации -->

{% extends 'base.html' %}

{% block content %}

<div class="intro-detail" id="intro-detail-post">
	
</div>

<div class="post-item">
	<div class="container">
		<div class="post-date">
			{{instance.tpublish}}
		</div>
		<!-- en -->
		<h2 id="post-title-en" class="post-title">{{instance.title}}</h2>
		<!-- ru -->
		<h2 id="post-title-ru" class="post-title hidden">{{instance.title_ru}}</h2>

		<div class="post-lang">
			<p>
				<a role="button" class="lang-link" onclick="changeLangForEn()">en</a>	| <a role="button" class="lang-link" onclick="changeLangForRu()">ru</a>
			</p>			
		</div>

		<!-- en -->
		<div id="post-text-en" class="post-text">
			{{instance.content|linebreaksbr}}
		</div>
		<!-- ru -->
		<div id="post-text-ru" class="post-text hidden">
			{{instance.content_ru|linebreaksbr}}
		</div>

		<!-- en -->
		<div id="post-author-en" class="post-author">
			{{instance.author}}
		</div>
		<!-- ru -->
		<div id="post-author-ru" class="post-author hidden">
			{{instance.author_ru}}
		</div>
		<a class="btn btn-detail" onclick="moveToRandomPage()">Generate More</a>
	</div>
</div>

{% endblock content %}