body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Lora', serif;
	color: #000000;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

/* header */
/* в header'е содержатся стили для центрирования элементов навигации и логотипа */

.header {
    width: 100%;
	padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo a {
    font-family: 'Rochester', cursive;
    font-size: 26px;
    text-decoration: none;
    color: #ffffff;
    
    text-shadow: rgb(50, 53, 49) 2px 2px 1px;
}

.header-logo.home a {
    background-color: rgba(30, 100, 20, .2);
}

.header.fixed {
    padding: 10px 0;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);

    background-image: url("../img/header.jpg");
	background-position: center 100%;
	background-repeat: no-repeat;
    background-size: cover;
    background-color: #4a6447;
}

/* navigation */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav-link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: color .1s linear;
}

.nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav-link:hover {
    color: #ffffff;
}

.nav-link:hover:after,
.nav-link.active::after {
    /* display: block; */
    opacity: 1;
}

.nav-link.active {
    color: #ffffff;
}

/* nav-toggle */

.nav-toggle {
    display: none;
    width: 30px;
    padding: 10px 0;
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    z-index: 1;
}

.nav-toggle-item {
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #ffffff;
}

.nav-toggle-item::before,
.nav-toggle-item::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    z-index: 1;
}

.nav-toggle-item::before {
    top: -6px;
}

.nav-toggle-item::after {
    top: 6px;
}

/* intro */
/* в intro содержатся блоки для центрирования центральной части главной страницы: крупного текста, описания, кнопки */

.intro {
	width: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
	justify-content: center;
    
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
	
    z-index: 99;
}

.intro-container {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

.intro-title {
	margin-bottom: 20px;
	font-family: 'Lora', serif;
	font-size: 36px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

.intro-description {
	/* margin-bottom: 130px; */
	font-size: 16px;
	font-weight: 400;
	color: #d3d3d3;
}

.intro-inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro-detail {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
    background-image: url("../img/header.jpg");
	background-position: center 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #4a6447;
}

.darker-container {
    padding: 30px 10px;
    box-shadow: 2px 10px 20px 1px rgba(0, 0, 0, .2);
    background-color: rgba(30, 100, 20, .2);
}

/* стилизация кнопок */

.btn {
	display: inline-block;
	font-family: 'Jost', sans-serif;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 20px 40px;
	cursor: pointer;
}

.btn-random {
	position: relative;
	color: #ffffff;
	overflow: hidden;
	z-index: 100;
}

.btn-random:active {
	background: rgba(255, 255, 255, 0.4);
}

.btn-detail {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: #d3f1cd;
    /* background-color: #afe9a3; */
    border: 2px solid #73d360;
    z-index: 100;
}

.btn-detail:hover {
    /* background-color: #73d360; */
    /* background-color: #bbe2b3; */
    background-color: #d2faca;
    /* background-color: #a5eb97; */
    /* background-color: #9ae98a; */
}

.btn-detail:active {
    background-color: #e5ffe0;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-container {
	position: relative;
    margin: 0 auto;
    margin-top: 100px;
	width: 164.65px;
	height: 64px;
	overflow: hidden;
	background: rgba(255, 255, 255, .1);
	box-shadow: 0 5px 5px rgba(255, 255, 255, .2);
}

/* стилизация бликов на кнопке */

.btn-random::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;

    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, transparent 50%);
    transform: skew(-45deg);

    transition: 2s;
}

.btn-random:hover::after {
    left: 150%;
}

.btn-detail::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;

    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 50%, transparent 50%);
    transform: skew(-45deg);

    transition: 2s;
}

.btn-detail:hover::after {
    left: 150%;
}

/* анимация рамки */

.btn-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: transparent;
    border: 2px solid transparent;
}

.btn-container:hover::before {
	animation: animate 1s linear forwards;
	animation-delay: 1s;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-top-color: #ffffff;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 0;
        border-top-color: #ffffff;
        border-right-color: #ffffff;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: #ffffff;
        border-right-color: #ffffff;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.btn-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: transparent;
    border: 2px solid transparent;
}

.btn-container:hover::after {
    animation: animate2 1s linear forwards;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #ffffff;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #ffffff;
        border-left-color: #ffffff;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #ffffff;
        border-left-color: #ffffff;
    }
}



/* элемент с id="max_value" нужен, чтобы узнать количество записей на сайте, но отображать его на странице не нужно */
#max-value {
	display: none;
}

/* content */
/* в content содержатся стили для списка всех публикаций и конкретных записей */

.post-date {
	margin-bottom: 20px;
	text-align: center;
	font-size: 14px;
	color: #9e9e9e;
}

.post-title a, .post-title {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.post-title a:hover {
	text-decoration: underline;
}

.post-item {
	margin: 50px 0 0 0;
	text-align: center;	
}

.post-item:last-child {
	margin-bottom: 50px;
}

.post-text-short {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}

.post-text {
	margin: 0 0 50px 0;
	padding: 0;
	text-align: justify;
}

.post-text.hidden {
    display: none;
}

.post-lang {
    margin: 0 0 20px 0;
}

.lang-link {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    text-decoration: none;
    color: #9e9e9e;
    transition: color .1s linear;
    cursor: pointer;
}

.lang-link:hover {
    color: #5a5a5a;
}

.post-author {
    margin: 0;
	padding: 0;
    text-align: justify;
    font-style: italic;
}

.post-author.hidden {
    display: none;
}

/* background и canvas содержат стили для корректного отображения фонового изображения на главной странице */

.background {
	text-align: center;
	
	width: 100%;
	height: 100vh;

	background-image: url("../img/header.jpg");
	background-position: center 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #73d360;

	position: absolute;
	z-index: -100;
}

/* если выбрать не через тэг canvas, а id .canvas-one, то на экране появится прокрутка вправо и влево */
canvas {
	position: fixed;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 1280px) {
    canvas {
        display: none;
    }
}

@media screen and (max-width: 770px) {  
    .header {
        padding-top: 10px;
    }

    .header-logo a {
        background-color: rgba(30, 100, 20, .8);
    }

    .nav {
        display: none;

        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #4a6447;
    }

    .nav.active {
        display: block;
    }

    .nav-link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav-link::after {
        content: "";
        display: block;
        width: 30%;
        height: 3px;
        background-color: #ffffff;
        opacity: 0;
    
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    
        transition: opacity .1s linear;
    }

    .nav-toggle {
        display: block;
    }

    .intro-detail {
        padding-bottom: 20px;
    }
}