body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Lora', serif;
	color: #000000;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

/* header */
/* в header'е содержатся стили для центрирования элементов навигации и логотипа */

.header {
    width: 100%;
	padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo a {
    font-size: 30px;
	font-weight: 700;
	text-decoration: none;
    color: #ffffff;
}

/* navigation */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav-link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: color .1s linear;
}

.nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav-link:hover {
    color: #ffffff;
}

.nav-link:hover:after,
.nav-link.active::after {
    /* display: block; */
    opacity: 1;
}

.nav-link.active {
    color: #ffffff;
}

/* intro */
/* в intro содержатся блоки для центрирования центральной части главной страницы: крупного текста, описания, кнопки */

.intro {
	width: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
	justify-content: center;
    
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
	
    z-index: 99;
}

.intro-container {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

.intro-title {
	margin-bottom: 20px;
	font-family: 'Lora', serif;
	font-size: 36px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}

.intro-description {
	margin-bottom: 130px;
	font-size: 16px;
	font-weight: 400;
	color: #d3d3d3;
}

.intro-inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro-detail {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	background-image: url("../img/header.jpg");
	background-position: center 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #73d360;
}

/* стилизация кнопок */

.btn {
	display: inline-block;
	font-family: 'Jost', sans-serif;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 20px 40px;
	cursor: pointer;
}

.btn-random {
	position: relative;
	color: #ffffff;
	overflow: hidden;
	z-index: 100;
}

.btn-detail {
	margin-top: 50px;
	border: 2px solid #73d360;
}

.btn-detail:hover {
	background-color: #d3f1cd;
}

.btn-random:active {
	background: rgba(255, 255, 255, 0.4);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-container {
	position: relative;
	margin: 0 auto;
	width: 154.34px;
	height: 64px;
	overflow: hidden;
	background: rgba(255, 255, 255, .1);
	box-shadow: 0 5px 5px rgba(255, 255, 255, .2);
}

/* стилизация бликов на кнопке */

.btn-random::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;

    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, transparent 50%);
    transform: skew(-45deg);

    transition: 2s;
}

.btn-random:hover::after {
    left: 150%;
}

/* анимация рамки */

.btn-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: transparent;
    border: 2px solid transparent;
}

.btn-container:hover::before {
	animation: animate 1s linear forwards;
	animation-delay: 1s;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-top-color: #ffffff;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 0;
        border-top-color: #ffffff;
        border-right-color: #ffffff;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: #ffffff;
        border-right-color: #ffffff;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.btn-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: transparent;
    border: 2px solid transparent;
}

.btn-container:hover::after {
    animation: animate2 1s linear forwards;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #ffffff;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #ffffff;
        border-left-color: #ffffff;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #ffffff;
        border-left-color: #ffffff;
    }
}



/* элемент с id="max_value" нужен, чтобы узнать количество записей на сайте, но отображать его на странице не нужно */
#max-value {
	display: none;
}

/* content */
/* в content содержатся стили для списка всех публикаций и конкретных записей */

.post-date {
	margin-bottom: 20px;
	text-align: center;
	font-size: 14px;
	color: #9e9e9e;
}

.post-title a, .post-title {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.post-title a:hover {
	text-decoration: underline;
}

.post-item {
	margin: 50px 0 0 0;
	text-align: center;	
}

.post-item:last-child {
	margin-bottom: 50px;
}

.post-text-short {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}

.post-text {
	margin: 0;
	padding: 0;
	text-align: justify;
}

/* background и canvas содержат стили для корректного отображения фонового изображения на главной странице */

.background {
	text-align: center;
	
	width: 100%;
	height: 100vh;

	background-image: url("../img/header.jpg");
	background-position: center 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #73d360;

	position: absolute;
	z-index: -100;
}

/* если выбрать не через тэг canvas, а id .canvas-one, то на экране появится прокрутка вправо и влево */
canvas {
	position: fixed;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 1280px) {
    canvas {
        display: none;
    }
}